communities/
oaidata/
harvest_list
log/
DONE/
credentials_11098
credentials_11098_dummy
mapfiles/b2share_disciplines.json
B2FIND.pyc
*.pyc
*~
envriplus_demonstrator/*
oldstuff/*
community_list
oaidata_old/*
results*.txt
*.crt
__pycache__/
*.eggs
*.egg-info
#ignore generated json-output
oaitestdata/*/*/json

# genetated output testdata
tests/testdata/*/*/json
