communities/
oaidata/
oaidata_previous
summary
log/
*.log
DONE/
credentials_11098
credentials_11098_dummy
mapfiles/b2share_disciplines.json
B2FIND.pyc
*.pyc
*~
community_list
results*.txt
*.crt
__pycache__/
*.eggs
*.egg-info
#ignore generated json-output
oaitestdata/*/*/json

# genetated output testdata
tests/testdata/*/*/json

# docs
docs/_build

# summary
summary.json

# jupyter notebooks
.ipynb_checkpoints/

# open office
.~lock.*

# bash
.bash_history