sickle
SPARQLWrapper
owslib
lxml
simplejson
python-Levenshtein
#git+https://github.com/noumar/iso639.git
iso639
dublincore
ckanapi
b2handle
babel
###HEW-D?? pyenchant
pyparsing
beautifulsoup4
shapely
jsonpath-ng
click
pandas
